<!-- <form action="/tasks/<%= @task.id %>" method="post">
  <strong><label for="name">Name of task</label></strong>
  <input type="text" name="task[name]" id="name" value="<%= @task.name %>">
  <strong><label for="content">Details of task</label></strong>
  <input type="text" name="task[content]" id="content" value="<%= @task.content %>">
  <input type="submit">
</form>
 -->

<%= render 'form' %>
