<!-- <form action="/tasks" method="get">
  <label for="name">Name of task</label>
  <input type="text" name="task[name]" id="name">
  <label for="detail">Details of task</label>
  <input type="text" name="task[content]" id="detail">
  <input type="submit">
</form>
 -->

<%= render 'form' %>
